:root {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-family: inherit;
    font-size: inherit;
}

.justify-between {
    justify-content: space-between;
}

.flex-2 {
    flex: 2;
}

.flex-1 {
    flex: 1;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.padding-1 {
    padding: 1rem;
}

.align-items {
    align-items: center;
    justify-content: center;
}

.gap-1 {
    gap: 1rem;
}

.content-width {
    width: 800px;
}

.margin-1 {
    margin: 1rem;
}

.margin-auto {
    margin: auto;
}

.border {
    border: solid 2px;
}

.grid {
    display: grid;
}

.main-grid>div {
    min-height: 200px;
}

.main-grid {
    grid-template-columns: 2fr 1fr;
}

.grid-section-1 {
    grid-template-columns: 1fr 1fr;
}

.link {
    background: none;
    text-decoration: none;
    cursor: pointer;
    /* font-family: 'Roboto' sans-serif; */
}

.link:focus,
.link:hover {
    background-color: lightgray;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    left: 0;
    top: calc(100% + 0.25rem);
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(-10px);
    scale: 1 0;
    transform-origin: top;
    transition-property: scale, opacity;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
    width: max-content;
    max-width: 300px;
    min-width: 100%;
}

.dropdown:focus-within .dropdown-content {
    opacity: 1;
    transform: translateY(0);
    scale: 1 1;
}

.dropdown-content a.menu-item {
    display: block;
}

.dropdown-content .menu-item:hover {
    color: black;
    background-color: lightgrey;
}