@font-face {
    font-family: "LoRes 15 OT";
    src: url(fonts/LoRes15OT-Bold.woff2);
}

@font-face {
    font-family: "Roboto Condensed";
    src: url(fonts/RobotoCondensed-Light-webfont.woff);
}

 :root {
    font-family: system-ui;
    font-size: 1rem;
    color: beige;
    --bg: #0f172a;
    --main-color: #1e293b;
    --accent-color: #eacf68;
    --main-color-light: #374457;
    --column-width: 1280px;
}

a {
    text-decoration: none;
    font-family: "LoRes 15 OT";
}

a:visited {
    color: unset;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin: 0;
}

button {
    font-family: "LoRes 15 OT";
    font-size: inherit;
    color: inherit;
    text-transform: uppercase;
}

.close {
    font-size: inherit;
    color: inherit;
    background-color: var(--main-color);
}

.section-border {
    border: 2px solid var(--main-color-light);
}

.section-border-right {
    border-right: 2px solid var(--main-color-light);
}

.section-bg {
    background-color: var(--main-color);
}

h2,
h3 {
    margin: 0;
    text-transform: uppercase;
    font-family: 'LoRes 15 OT';
}

p {
    font-family: "Roboto Condensed";
}

h2 {
    color: var(--accent-color);
}

hr,
.hr {
    border: unset;
    border-bottom: 2px solid var(--main-color-light);
}

.p-2 {
    padding: 0.5rem;
}

.justify-between {
    justify-content: space-between;
}

.flex-2 {
    flex: 2;
}

.flex-1 {
    flex: 1;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.padding-1 {
    padding: 1rem;
}

.align-items {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.min-height {
    min-height: 100px;
}

.gap-1 {
    gap: 1rem;
}

.content-width {
    max-width: var(--column-width);
}

.margin-auto {
    margin: auto;
}

.grid {
    display: grid;
}

.main-grid>div {
    min-height: 200px;
}

.main-grid {
    grid-template-columns: 2fr 1fr;
}

.grid-span-2 {
    grid-row: span 2;
}

.grid-span-1 {
    grid-row: span 1;
}

.odd-light-color>*:nth-child(2n-1) {
    background-color: var(--main-color-light);
}

.auto-numbers {
    counter-reset: leaderboard 0;
}

.auto-numbers .auto-number-item {
    counter-increment: leaderboard 1;
    max-width: 75%;
}

.auto-numbers .auto-number-item::before {
    content: counter(leaderboard) ".";
    min-width: 1.5rem;
}

.truncate {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.leaderboard p {
    margin: 0;
}

.leaderboard {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.conteiner-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.logo-link {
    background-color: var(--main-color);
    border: solid 2px var(--main-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100px;
}

.logo-link::before,
.logo-link::after {
    position: absolute;
    content: url('images/logo-compact-centered-regular.png');
    scale: 0.15;
    z-index: 1;
    transition: scale 0.1s ease-in, rotate 0.1s ease-in;
}

.logo-link::before {
    transform-origin: 0 0;
    top: 0.5rem;
    left: 0.5rem;
}

.logo-link::after {
    transform-origin: 100% 100%;
    right: 0.5rem;
    bottom: 0.5rem;
}

.logo-link:hover {
    background-color: var(--main-color-light);
    border: solid 2px var(--accent-color);
}

.logo-link:hover h3 {
    color: var(--accent-color);
    text-shadow: -1px -1px 0px var(--bg), 1px 1px 0px var(--bg), 1px -1px 0px var(--bg), -1px 1px 2px var(--bg);
}

.logo-link:hover::before,
.logo-link:hover::after {
    scale: 0.25;
    rotate: 10deg;
}

.video-container {
    inset: 0;
    position: fixed;
    z-index: -10;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.hidden-checkbox {
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: transparent;
}

li {
    list-style: none;
}

.nav-links {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    flex: 1;
}

.menu li:hover {
    border-bottom: solid 2px var(--accent-color);
    transition: 0.3s ease;
}

.nav-links li {
    padding: 5px 14px;
}

.nav-links ul {
    margin: 0;
    padding: 0;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

.dropdown-menu {
    background-color: var(--main-color);
    border: solid 2px var(--main-color-light);
    border-radius: 5px;
    position: absolute;
    display: none;
    top: 50px;
    left: 0;
}

.dropdown-menu li {
    padding: 0.5rem 1rem;
    width: 8em;
    text-align: center;
    border-bottom: solid 2px transparent;
}

.dropdown-menu li:hover {
    background-color: var(--main-color-light);
}

.submenu {
    position: relative;
    border-bottom: solid 2px transparent;
}

.submenu>a {
    font-size: 1.25em;
}

.submenu:focus-within .dropdown-menu {
    display: block;
}

.nav-group {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

@media (max-width:950px) {
    .main-grid {
        grid-template-columns: 3fr 2fr;
    }
}

@media (max-width:860px) {
    .main-grid {
        grid-template-columns: 1fr;
    }
    .content-width {
        max-width: 100%;
    }
    .leaderboard {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:440px) {
    .conteiner-1 {
        grid-template-columns: 1fr;
    }
    .leaderboard {
        grid-template-columns: 1fr;
    }
    .hamburger {
        display: block;
    }
    .navbar {
        justify-content: space-between;
    }
    .menu {
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        top: 3rem;
        z-index: 50;
        background-color: var(--main-color);
        border: solid 2px var(--main-color-light);
        padding: 1rem;
        gap: 0.5rem;
    }
    menu li:hover {
        display: inline-block;
        background-color: var(--bg);
        transition: 0.3s ease;
    }
    .hidden-checkbox:checked~.menu {
        display: flex;
        flex-direction: column;
    }
    .dropdown-menu {
        left: 50%;
        top: 30px;
        z-index: 100;
    }
    .dropdown-menu li:hover {
        background-color: var(--main-color-light);
    }
    .nav-links {
        justify-content: end;
    }
    .nav-group {
        flex-direction: column;
    }
}